<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EnsambladorServlet</servlet-name>
        <servlet-class>Web.EnsambladorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoPiezaServlet</servlet-name>
        <servlet-class>Web.TipoPiezaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuebleServlet</servlet-name>
        <servlet-class>Web.MuebleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PiezaServlet</servlet-name>
        <servlet-class>Web.PiezaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoMuebleServlet</servlet-name>
        <servlet-class>Web.TipoMuebleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraVentaServlet</servlet-name>
        <servlet-class>Web.CompraVentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacturaServlet</servlet-name>
        <servlet-class>Web.FacturaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>Web.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaDatosServlet</servlet-name>
        <servlet-class>Web.CargaDatosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>Web.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendedorServlet</servlet-name>
        <servlet-class>Web.VendedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>Web.MenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportesServlet</servlet-name>
        <servlet-class>Web.ReportesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnsambladorServlet</servlet-name>
        <url-pattern>/EnsambladorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoPiezaServlet</servlet-name>
        <url-pattern>/TipoPiezaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuebleServlet</servlet-name>
        <url-pattern>/MuebleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PiezaServlet</servlet-name>
        <url-pattern>/PiezaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoMuebleServlet</servlet-name>
        <url-pattern>/TipoMuebleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraVentaServlet</servlet-name>
        <url-pattern>/CompraVentaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacturaServlet</servlet-name>
        <url-pattern>/FacturaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaDatosServlet</servlet-name>
        <url-pattern>/CargaDatosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendedorServlet</servlet-name>
        <url-pattern>/VendedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/MenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportesServlet</servlet-name>
        <url-pattern>/ReportesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
        index.jsp
    </welcome-file>
    </welcome-file-list>
</web-app>
